@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}











body{
	font-family: 'Open Sans', ;

}
img{
    max-width: 100%;
}
ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
        font-size: 15px;
    text-decoration: none;
    display: block;
    color: #232323;
    font-weight: 500;
}ss

}
a:hover{}
.container{
	    width: 1300px;
	    margin: auto;
}



.flex{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* color: black; */
}

/****************************
header
******************************/

header{     padding: 50px 0; }
.logo{
    max-width: 20%;
    flex-basis: 20%;
}

.logo a {}
.logo a img{}

 nav{
    /* padding-top: 90px; */
    max-width: 80%;
    flex-basis: 80%;
}
 nav ul {
    justify-content: flex-end;
}
 nav ul li {
    list-style: none;
}
 nav ul li a {
    text-transform: capitalize;
    display: block;
    padding-left: 90px;
    font-weight: 500;
    color: #211f1f;
    font-size: 18px;
    color: #383535;
    font-size: 18px;
    text-decoration: none;
}
 nav ul li a:hover{}



/****************************
banner-section
******************************/

.banner-section{}
.banner-section img{
    width: 100%;
}

/****************************
blog-section
******************************/
.blog-section

article{}
article{
    padding: 60px 35px;
}


article span,article a{
    font-weight: 100;
    text-transform: uppercase;
    color: #423939;
    font-size: 15px;
}
article h1{
    color: #423939;
    font-size: 20px;
    margin: 20px 0;
}
article h1 a{
    /* font-weight: 100; */
    /* text-transform: uppercase; */
    /* color: #423939; */
    /* font-size: 30px; */
    color: #423939;
    font-size: 22px;
    margin: 20px 0;
    transition-duration: 0.4s;
}
article h1 a:hover{
	color: #333;
}
article p{
    color: #423939;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}

article a img {
    /* max-width: 100%; */
    width: 100%;
}

.post{
    flex-basis: 45%;
    max-width: 50%;
    padding: 30px;
}
/****************************
footer
******************************/
footer{
    background-color: #eaeaea;
    padding: 35px 0;
}
.footer-menu{
    flex-basis: 50%;
    max-width: 50%;
}
.footer-menu ul{}
.footer-menu li{}
.footer-menu ul li a {
    font-size: 18px;
    color: #383535;
    text-transform: capitalize;
    display: block;
    font-weight: 500;
    color: #211f1f;
    font-size: 18px;
    color: #383535;
    font-size: 18px;
    padding-right: 20px;
    list-style: none;

}
  
.footer-menu ul li a:hover{    color: #38353573;}

.social-menu{
    flex-basis: 50%;
    max-width: 50%;
}
.social-menu ul{
    justify-content: flex-end;
}
.social-menu ul li{}
.social-menu ul li span{
    font-weight: 100;
    text-transform: capitalize;
    color: #1b1a1a;
    font-size: 15px;
    padding-right: 20px;
}
.social-menu ul li a{
    padding-left: 25px;
    font-size: 18px;
    color: #383535;
    text-transform: capitalize;
    display: block;
    font-weight: 500;
    color: #211f1f;
    font-size: 18px;
    color: #383535;
    font-size: 18px;
    /* padding-right: 20px; */
    list-style: none;
}
.social-menu ul li a:hover{
    color: #38353578;
}

